body {
    font-family: Ubuntu;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    /* background-image: linear-gradient(to bottom right, blue, lightblue); */
}

.bg {
    background: url(seashore.jpg) no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 160vw;
    height: 160vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: rgb(170, 170, 170);
    display: block;
    /* margin: auto; */
}

.bar {
    height: 40px;
    width: 700px;
    border: 5px solid black;
    border-radius: 5px;
    display: block;
}

.loading-bar {
    height: 40px;
    /* width: 10px; */
    background-color: rgb(170, 170, 170);
    /* align:center */
}